api-doc/.tern-port
api-doc/dist
api-doc/package-lock.json
infra/*.iml
*.iml
*.tfstate
*.tfstate.backup
.idea/
build
api-doc.iml
.terraform
.gradle
gradlew
gradlew.bat
implementation/java/gradle
.DS_Store
api-doc/node_modules/extglob/lib/.DS_Store
api-doc/node_modules/micromatch/lib/.DS_Store
api-doc/node_modules/swagger-ui/node_modules/webpack-dev-server/ssl/.DS_Store
implementation/.DS_Store
